<!DOCTYPE html>
<html>
  <%include header.ejs%>
  <body>
    <!--顶部导航-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= title %></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">主页</a>
            </li>
            <li>
              <a href="/about">关于</a>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="搜索文章">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">更多...<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/create">添加文章</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/login">切换帐号</a></li>
                <li><a href="/logout">注销登录</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--页面主体-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <% articles.forEach(function(article){ %>
          <div class="media">
            <a href="/detail" class="media-left media-middle">
              <div>
                <img class="media-object" src="/images/vuejs.jpg">
              </div>
            </a>
            <div class="media-body" style="margin-top:10px;">
              <h4 class="media-heading"><%=article.title %></h4>
              <%= article.description%>
            </div>
          </div>
          <% })%>
        </div>
        <!--热门文章-->
        <div class="col-md-3">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">热门文章</h4>
            </a>
            <% topics.forEach(function(topic){ %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%=topic.title%></h4>
              <p class="list-group-item-text"><%=topic.description%></p>
            </a>
            <% }) %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Http 详解</h4>
              <p class="list-group-item-text">...</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <%include footer.ejs%>
  </body>
</html>
